
HTML {
    BORDER-TOP-WIDTH: 0px;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    background-color: #ffffff;
    FONT-FAMILY: Verdana, Helvetica, Geneva, sans-serif;
    color: #000000;
}

BODY {
    BORDER-TOP-WIDTH: 0px;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BORDER-RIGHT-WIDTH: 0px;
    border-collapse: separate;
}

IMG {
    BORDER-TOP-WIDTH: 0px;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    BORDER-RIGHT-WIDTH: 0px
}

#caroline {
    BACKGROUND-POSITION: center top;
    MIN-WIDTH: 790px;
    Z-INDEX: 1;
    MIN-HEIGHT: 500px;
    BACKGROUND-IMAGE: url(#{resource[ 'images:imgs_global_bg_01.png' ]});
    WIDTH: 100%;
    BACKGROUND-REPEAT: repeat-x;
    POSITION: relative;
    HEIGHT: 100%;
}

#mainContainer {
    Z-INDEX: 3;
    MARGIN-LEFT: 10px;
    WIDTH: 890px;
    POSITION: absolute;
    TOP: 0px;
}

#headContainer {
    BORDER-TOP-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    MARGIN: 0px 5px 15px;
    WIDTH: 780px;
    HEIGHT: 90px;
    top: 0px;
    position: relative;
    BORDER-RIGHT-WIDTH: 0px;
}

#mainNavigation {
    float: right;
    BOTTOM: 0px;
    HEIGHT: 16px;
    position: relative;
    top: 80px;
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    padding-right: 25px;
}

#menuContainer {
    MARGIN: 15px 2px 2px 2px;
    FLOAT: left;
    display: block;
    left: 0px;
    width: 200px;
    min-height: 350px;
    position: relative;
    text-decoration: none;
    z-index: 1;
    font-size: 10px;
    border-right-width: 1px;
    border-right-style: solid;
}

#contentContainer {
    MARGIN: 15px 5px 5px 205px;
    position: relative;
    WIDTH: 690px;
    display: block;
    border: none;
    border-color: #666666;
    border-width: 2px;
    padding: 10px 15px;
    background-color: #ffffff;
}

#overview {
    top: 0px;
    left: 0px;
    width: 350px;
    z-index: 4;
}

#mainlogo {
    float: right;
    top: 0px;
    left: 0px;
    width: 450px;
    z-index: 4;
}

.aktiv {
    color: #559902;
}

h1 {
    font-size: 18px;
    font-weight: normal;
    color: #559902;
}

/* --------------- nice dialogues without tables --------------- */

ol, ul {
    list-style: none outside none;
}

fieldset {
    position: relative;
    margin-top: 3px;
    margin-bottom: 12px;
    border: none;
    border-top: 1px solid #E6E6E6;
    margin-left: 0px;
    background: white;
    padding: 0 0 6px 0;
}

fieldset.styledFieldset {
    background: #F5FAFD;
    border-bottom: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    margin-bottom: 18px;
}

fieldset.nonStyledFieldset {
    border: none;
    margin-top: 0px;
}

fieldset ul,
fieldset ol {
    padding: 6px 0 0 225px;
}

fieldset ul ul,
fieldset ol ul,
fieldset ol ol,
fieldset ul ol{
    padding: 0px;
}

legend {
    padding: 0 0 2px 0;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    width: 100%;
    color: #494949;
    border-bottom: 1px solid #E6E6E6;
}

fieldset.styledFieldset legend,
fieldset.tableFilter legend{
    background: white;
}

.fieldDescription {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset li {
    color: #494949;
    margin: 8px 0;
    position: relative;
    line-height: 1.4em;
}

fieldset ul .leftBlock,
fieldset ol .leftBlock {
    margin-left: -225px;
}

fieldset .leftBlock label:first-child{
    margin-left: 0px;
    float: none;
    text-align: left;
    width: auto;
}

fieldset .leftBlock label {
    font-weight: bold;
}

fieldset li:after {
    content: ".";
    visibility: hidden;
    clear: both;
    display: block;
    height: 1px;
}

fieldset li label:first-child {
    width: 195px;
    min-height: 1px;
    padding-right: 30px;
    margin-left: -225px;
    margin-top: 1px;
    margin-bottom: 3px;
    display: block;
    text-align: right;
    position: relative;
    float: left;
    vertical-align: top;
    line-height: 16px;
}

fieldset li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

fieldset li label.required:after {
    content: "*";
    display: inline;
    *display: inline; /* =Hack */
    position: relative;
    font-weight: bold;
    margin-left: 0.1em;
    font-weight: bold;
    font-size: 18px;
    line-height: 10px;
    color: #004f77;
}

.invalid {
    color: #EA1818;
    display: block;
    font-weight: bold;
    font-size: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
}

/* Input & Textarea]
-------------------------------------------------------------------*/

input,
select,
textarea {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 1em !important;
    margin-right: 5px !important;
}

select {
    max-width: 350px;
}

input[type=radio],
input[type=checkbox] {
    margin-right: 10px !important;
}

input[type=text],
textarea,
input[type=password]{
    color: #494949;
    font-family: Arial, Helvetica, sans-serif !important;
    margin-bottom: 2px;
    border: 1px solid silver !important;
    padding: 3px 0px 2px 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: gray !important;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) !important;
}

input[type=text].ui-state-hover,
textarea.ui-state-hover,
input[type=password].ui-state-hover {
    border: 1px solid silver !important;
}

input[type=text].ui-state-focus,
textarea.ui-state-focus,
input[type=password].ui-state-focus {
    border: 1px solid gray !important;
}

input[type=text].invalidInput {
    background: #ffdddd !important;
}

input[type=text][disabled=disabled],
textarea[disabled=disabled],
input[type=password][disabled=disabled] {
    background-color: #f7f7f7 !important;
}


/* --------------- /toolBarGroup --------------- */

/* this is rquired for the top-switch, where there are images in the anchors */
a img {
    border: none;
}

/* --------------- /topswitch images --------------- */

.toggle {
    background-color: #ffffff;
}

/* formating of the input boxes */

input[type=submit], input[type=button] {
    font-size: 10px;
    margin: 5px 5px 5px 0;
    cursor: pointer;
}

input[type=select], textarea {
    font-size: 9px;
    padding-left: 1px;
}

input[type=text], input[type=password] {
    font-size: 14px;
    padding-left: 1px;

}

select {
    font-size: 13px;
}

/* --------------- /inputbox  --------------- */

table, p {
    font-size: 11px;
    padding: 0px;
    border: 0px;

}

.date {
    width: 100px;
}

.description {
    width: 300px;
}

.credit {
    text-align: right;
    color: #00FF00;
    width: 100px;
}

.debit {
    text-align: right;
    color: #Ff0000;
    width: 100px;
}

.saldo {
    text-align: right;
    color: #000000;
    font-weight: bold;
    width: 100px;

    border-top-width: 1px;
    border-top-color: #000000;
    border-top-style: solid;

    border-bottom-width: 3px;
    border-bottom-color: #000000;
    border-bottom-style: double;

}

.pending {
    text-align: right;
    color: #DDDDDD;
    width: 100px;
}
